/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

@font-face {
    font-family: "Nightcore demo";
    src: url('../src/assets/fonts/Nightcore_Demo.ttf') format('truetype');
}