<!-- <p>home works!</p> -->
<div class="full-container">
  <!-- Navbar starts -->
  <div class="navbar">
    <div class="mi-logo">
      <img src="../../assets/images/moodi-logo-white 1.png" alt="" class="logo"
        (click)='page1.scrollIntoView({behavior:"smooth"})'>
    </div>
    <div class="nav-icons">
      <div class="nav-icon" (click)='page2.scrollIntoView({behavior:"smooth"})'>about us</div>
      <div class="nav-icon" (click)='page3.scrollIntoView({behavior:"smooth"})'>past winners</div>
      <div class="nav-icon" (click)='page4.scrollIntoView({behavior:"smooth"})'>prizes</div>
      <div class="nav-icon" (click)='page5.scrollIntoView({behavior:"smooth"})'>schedule</div>
      <div class="nav-icon" (click)='page7.scrollIntoView({behavior:"smooth"})'>partners</div>
    </div>
    <div class="register-btn">
      <button class="register" (click)='page6.scrollIntoView({behavior:"smooth"})'>
        REGISTER
      </button>
    </div>
  </div>
  <!-- Navbar ends -->

  <div class="arrow">
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
    <div class="arrow-head active"></div>
    <div class="arrow-head"></div>
  </div>

    <div class="line" id="line4">
      <div class="line-cont">
        <div class="window" id="w4"></div>
      </div>
    </div>
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b6" class="ball1">

  <!-- Page 1 begins -->
  <div class="page-1-bg" #page1>

    <div class="page-1">

      <div class="page1-text-container">

        <div class="sub-head">
          MOOD INDIGO, IIT BOMBAY'S
        </div>

        <div class="main-head">
          LIVEWIRE
        </div>

        <div class="margin-div"></div>

        <div class="sub-head">
          INDIA'S LARGEST AND OLDEST
          SEMI-PRO BAND COMPETITON
        </div>

      </div>

      <!-- <div class="page1-end"></div> -->

    </div>
  </div>
  <!-- Page 1 ends -->




  <!-- Page 2 begins (about livewire) -->
  <div class="about-livewire-page page-2" #page2>
    <div class="line" id="line2">
      <div class="line-cont">
        <div class="window" id="w1"></div>
      </div>
    </div>
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b7" class="ball1">
    <div class="abt-content">
      <div class="abt-head" id="1">ABOUT LIVEWIRE</div>
      <div class="abt-head-text" id="2">
        LiveWire is the celebration of independent music in India and aims to bring out the most unique music from
        various parts of our nation.
      </div>
    </div>
    <div class="page-2-flex-content">
      <div class="image-container">
        <img src="../../assets/images/abt.png" alt="" class="abt-img" id="3">
      </div>
      <div class="abt-desc">
        <div class="abt-desc-head" id="4">
          IT'S TIME FOR YOU TO PARTICIPATE
        </div>
        <div class="abt-desc-text" id="5">
          Livewire has been instrumental in <br> promoting the independent music scene in India for the past 40 years.
          <br>
          <br>
          Over the years, Livewire has seen the birth <br> of some of the country's greatest bands. <br>
          It's your chance to participate and make <br> the most of it!
        </div>
        <div class=" reg_btn1 text-center">
          <button class="reg width text-center" id="6">
            REGISTER
          </button>
      </div>
      </div>
    </div>
  </div>





  <!-- Page 3 begins (past winners) -->
  <div class="page-3 past-winners-page" #page3>
    <div class="line">
      <div class="line-cont">
        <div class="window" id="w2"></div>
      </div>
    </div>
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b8" class="ball1">
    <h2 class="sched-head" id="7">PAST WINNERS</h2>
    <div class="mob-scroll">
      <div class="mob-flex">
        <div class="top-shine" id="8">
          <div class="shine-cont">
            <div class="test-shine sh1"></div>
            <h3 class="shine">PARIKRAMA</h3>
          </div>
          <div class="shine-cont">
            <div class="test-shine sh2"></div>
            <h3 class="shine">PENTAGRAM</h3>
          </div>
          <div class="shine-cont">
            <div class="test-shine sh3"></div>
            <h3 class="shine">KRAKEN</h3>
          </div>
        </div>
        <div class="top-shine" id="9">
          <div class="shine-cont">
            <div class="test-shine sh4"></div>
            <h3 class="shine">THE F16S</h3>
          </div>
          <div class="shine-cont">
            <div class="test-shine sh5"></div>
            <h3 class="shine">BHAYANAK MAUT</h3>
          </div>
          <div class="shine-cont">
            <div class="test-shine sh6"></div>
            <h3 class="shine">SMALLTALK</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page 3 ends -->




  <!-- Page 4 begins (prizes)-->
  <div class="page-4 prizes-page" #page4>
    <div class="line" id="line3">
      <div class="line-cont">
        <div class="window" id="w3"></div>
      </div>
    </div>
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b9" class="ball1">
    <h2 class="sched-head part-head" id="10">PRIZES</h2>
    <div class="mob-scroll-schedule">
      <div class="mob-flex-schedule">
        <div class="prize-top" id="11">
          <div class="prize-card">
            <div class="prize-icon" id="icon1"></div>
            <h3 class="prize">CASH PRIZE OF WORTH <br> 1.8 LAKHS</h3>
            <!-- <p class="prize-cont">Winners Interviewed by Mirchi Indies and songs aired on radio</p> -->
          </div>
          <div class="prize-card">
            <div class="prize-icon" id="icon2"></div>
            <h3 class="prize">MOOD INDIGO <br> PERFORMANCE</h3>
            <p class="prize-cont">Get to perform at the Mood Indigo mainstage</p>
          </div>
          <div class="prize-card">
            <div class="prize-icon" id="icon3"></div>
            <h3 class="prize">STUDIO <br>TIME </h3>
            <p class="prize-cont">An unlimited studio time given to the winner of Livewire to record their entire album</p>
          </div>
          <div class="prize-card">
            <div class="prize-icon" id="icon4"></div>
            <h3 class="prize">EDITORIAL <br> INTERVIEW</h3>
            <p class="prize-cont">An Editorial Interview on the winning band by The Indian Music Diaries</p>
          </div>
        </div>
        <div class="prize-top" id="12">
          <div class="prize-bot">
            <div class="prize-card prize1">
              <div class="prize-icon" id="icon5"></div>
              <h3 class="prize">GIG PERFORMANCE <br> BY OPENJAMM</h3>
              <p class="prize-cont">Get a Paid Performance Slot at a gig by Openjamm</p>
            </div>
            <div class="prize-card prize1">
              <div class="prize-icon" id="icon6"></div>
              <h3 class="prize">DIGITAL <br> DISTRIBUTION</h3>
              <p class="prize-cont">A special post from Rolling Stone India for the winner of Livewire 2022</p>
            </div>
            <div class="prize-card prize1">
              <div class="prize-icon" id="icon7"></div>
              <h3 class="prize">NRTYA <br> SHOWCASE</h3>
              <p class="prize-cont">Top 3 winners bag a performance slot in the lineup of Nrtya Showcase</p>
            </div>
          </div>
          <div class="more-cont">
            <h3 class="prize-more">AND<br>MORE...</h3>
          </div>
        </div>
        <img src="../../assets/images/Vector 21.png" alt="" class="curve">
      </div>
    </div>
  </div>
  <!-- Page 4 ends -->





  <!-- Page 5 begins (shedule) -->
  <div class="page-5 shedule-page" #page5>
    <div class="line-container">
      <svg id="line" viewBox="0 0 25 9409" fill="none" preserveAspectRatio="xMidYMax meet">
        <path class="path" d="M12.5 0.5V9408.5" stroke="white" stroke-width="25" />
      </svg>
    </div>
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b1" class="ball2">
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b2" class="ball2">
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b3" class="ball2">
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b4" class="ball2">
    <img src="../../assets/images/Ellipse 1.png" alt="" id="b5" class="ball2">
    <img src="../../assets/images/Screenshot 2022-09-23 155637.png" class="left-bars" alt="">
    <h2 class="sched-head" id="13">SCHEDULE PLAN</h2>
    <div class="schedule" id="14">
      <div class="left-sched">
        <h3 class="sub_head">SHILLONG</h3>
        <p class="cont">8th October</p>
        <p class="cont">The Evening Club, Police Bazaar, Shillong, Meghalaya 793001</p>
        <button class="ticket">GET TICKETS</button>
      </div>
      <img src="../../assets/images/delhi_head.jpg" alt="" class="right-sched">
    </div>
    <div class="schedule" id="15">
      <div class="left-sched">
        <h3 class="sub_head">BANGALORE</h3>
        <p class="cont">8th October</p>
        <p class="cont">AMC Campus, Bannerghatta Main Rd, Bengaluru, Karnataka 560083</p>
        <button class="ticket">GET TICKETS</button>
      </div>
      <img src="../../assets/images/delhi_head.jpg" alt="" class="right-sched">
    </div>
    <div class="schedule" id="16">
      <div class="left-sched">
        <h3 class="sub_head">DELHI</h3>
        <p class="cont">TBD</p>
        <p class="cont">TBD</p>
        <button class="ticket">GET TICKETS</button>
      </div>
      <img src="../../assets/images/delhi_head.jpg" alt="" class="right-sched">
    </div>
    <div class="schedule" id="28">
      <div class="left-sched">
        <h3 class="sub_head">PUNE</h3>
        <p class="cont">TBD</p>
        <p class="cont">TBD</p>
        <button class="ticket">GET TICKETS</button>
      </div>
      <img src="../../assets/images/delhi_head.jpg" alt="" class="right-sched">
    </div>
    <div class="schedule" id="17">
      <div class="left-sched">
        <h3 class="sub_head">MUMBAI</h3>
        <p class="cont">TBD</p>
        <p class="cont">TBD</p>
        <button class="ticket">GET TICKETS</button>
      </div>
      <img src="../../assets/images/delhi_head.jpg" alt="" class="right-sched">
    </div>
    <h3 class="sub_head bot_head">AND MORE COMING SOON...</h3>
  </div>
  <!-- Page 5 ends -->




  <!-- Page 6 begins (form) -->
  <div class="page-6 register-form" #page6>
    <h2 class="reg_head" id="18">REGISTER</h2>
    <h3 class="rule-head" id="19">RULES</h3>
    <ul class="rules" id="20">
      <li class="rule">The band should submit and perform only their original compositions.</li>
      <li class="rule">The entire sound should be produced live and the use of pre-recorded samples must be approved by
        the organisers.</li>
      <li class="rule">There are no language and genre restrictions on the bands.</li>
    </ul>
    <form class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
      <div class="col-md-12">
        <div class="rules-head">
          <h3 class="rule-head" id="21">BAND INFORMATION</h3>
        </div>
      </div>
      <div class="band_info" id="22">
        <div class="info_col">
          <div class="form-group info_form">
            <input class="form-control valid inp" name="city" id="city" type="text" placeholder="City"
              [(ngModel)]="city" />
          </div>
          <div class="form-group info_form">
            <input class="form-control valid inp" name="band_name" id="band_name" [(ngModel)]="band_name" type="text"
              placeholder="Band Name" />
          </div>
        </div>
        <div class="info_col">
          <div class="form-group info_form">
            <input class="form-control valid inp" name="genre" id="genre" type="text" placeholder="Genre"
              [(ngModel)]="genre" />
          </div>
          <div class="form-group info_form">
            <input class="form-control valid inp" name="email" id="email" type="email" placeholder="Band Email ID"
              [(ngModel)]="emailid" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="rules-head">
          <h3 class="rule-head" id="23">BAND DETAILS</h3>
        </div>
      </div>
      <div class="band_info" id="24">
        <div class="info_col">
          <div class="form-group info_form">
            <input class="form-control valid inp" name="past_ach" id="past_ach" type="text" [(ngModel)]='past_ach'
              placeholder="Past Achievements" />
          </div>
          <div class="form-group info_form">
            <input class="form-control valid inp" name="num_mem" id="num_mem" type="number" [(ngModel)]="no_of_members"
              placeholder="Number of Members" />
          </div>
        </div>
        <div class="info_col">
          <div class="form-group info_form">
            <input class="form-control valid inp" name="mem1_name" [(ngModel)]="mem_name1" id="mem1_name" type="text"
              placeholder="Member Name 1" />
          </div>
          <div class="form-group info_form">
            <input class="form-control valid inp no-arrow" name="mem1_contact" [(ngModel)]="mem_contact1"
              id="mem1_contact" type="phone" placeholder="Member Contact 1" pattern="[1-9]{1}[0-9]{9}" />
          </div>
        </div>
        <div class="info_col">
          <div class="form-group info_form">
            <input class="form-control valid inp" name="mem2_name" [(ngModel)]="mem_name2" id="mem2_name" type="text"
              placeholder="Member Name 2" />
          </div>
          <div class="form-group info_form">
            <input class="form-control valid inp no-arrow" name="mem2_contact" [(ngModel)]="mem_contact2"
              id="mem2_contact" type="phone" placeholder="Member Contact 2" pattern="[1-9]{1}[0-9]{9}" />
          </div>
        </div>
        <div class="info_col">
          <div class="form-group big_form">
            <textarea class="form-control w-100 inp" name="links" id="links" cols="30" rows="2"
              [(ngModel)]="orignal_composition"
              placeholder="Links For All Original Music Like Singles/Albums&#10;(Please Separate by Comma)"></textarea>
          </div>
        </div>
        <div class="reg_btn text-center" (click)="register()">
          <a class="boxed-btn3 wow fadeInUp" style="color: white;" data-wow-duration="1s" data-wow-delay=".6s"
            type="submit">REGISTER</a>
        </div>
      </div>
    </form>
  </div>
  <!-- Page 6 ends -->




  <!-- Page 7 begins (partners) -->
  <div class="page-7 partners" #page7>
    <h2 class="sched-head part-head" id="25">PARTNERS</h2>
    <div class="partner">
      <a href="https://instagram.com/openjamm?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../assets/images/partner1.jpg" alt="" class="partner_img" id="26"></a>
      <a href="https://instagram.com/theindianmusicdiaries?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../assets/images/partner2.jpg" alt="" class="partner_img" id="29"></a>
      <a href="https://instagram.com/theindianmusicdiaries?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../assets/images/partner3.png" alt="" class="partner_img" id="30"></a>
      <a href="https://jazzgoa.com/" target="_blank"><img src="../../assets/images/partner4.jpeg" alt="" class="partner_img" id="31"></a>
      <a href="https://instagram.com/nrtyaculture?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../assets/images/nrtya_Logo_White.png" alt="" class="partner_img" id="32"></a>
      <!-- <img src="../../assets/images/delhi_head.jpg" alt="" class="partner_img"> -->
    </div>
    <img src="../../assets/images/Line 11.png" class="left-line" alt="">
    <div class="foot">
      <div class="foot-comp"  id="27">
        <h3 class="foot-head">ADDRESS</h3>
        <p class="foot-cont">
          Mood Indigo Office,<br>
          Student Activity Centre,<br>
          IIT Bombay.
        </p>
      </div>
      <div class="foot-comp"  id="33">
        <h3 class="foot-head">CONTACT</h3>
        <p class="foot-cont">
          Chirag Bhutada : +91 9890394445 <br>
          Shyam Manchhani : +91 9506016620
        </p>
      </div>
      <div class="foot-comp"  id="34">
        <h3 class="foot-head">E-MAIL</h3>
        <p class="foot-cont">
          chiragb@moodi.org <br>
          shyam@moodi.org
        </p>
      </div>
      <div class="foot-comp"  id="35">
        <h3 class="foot-head">FOLLOW US</h3>
        <div class="foot-logos">
          <a href="https://www.facebook.com/iitbombay.moodi" class="foot-logo">
            <img src="../../assets/images/facebook 1.png" alt="" class="foot_logo">
          </a>
          <a href="https://www.instagram.com/iitbombay.moodi/" class="foot-logo">
            <img src="../../assets/images/instagram 1.png" alt="" class="foot_logo">
          </a>
          <a href="https://twitter.com/iitb_moodi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="foot-logo">
            <img src="../../assets/images/twitter 1.png" alt="" class="foot_logo">
          </a>
          <a href="https://www.linkedin.com/company/mood-indigo/mycompany/" class="foot-logo">
            <img src="../../assets/images/linkedin 1.png" alt="" class="foot_logo">
          </a>
        </div>
      </div>
      <!-- <img src="../../assets/images/Screenshot 2022-09-23 155637.png" class="footer_rbar" alt=""> -->
    </div>
  </div>
  <!-- Page 7 ends -->




</div>