<!-- <p>home works!</p> -->
<div class="full-container">
    <!-- Navbar starts -->
    <div class="navbar">
        <div class="mi-logo">
            <img src="../../assets/images/moodi-logo-white 1.png" alt="" class="logo">
        </div>
        <div class="nav-icons">
            <div class="nav-icon">about us</div>
            <div class="nav-icon">past winners</div>
            <div class="nav-icon">prizes</div>
            <div class="nav-icon">schedule</div>
            <div class="nav-icon">partners</div>
        </div>
        <div class="register-btn">
            <button class="register">
                REGISTER
            </button>
        </div>
    </div>
    <!-- Navbar ends -->




    <!-- Page 1 begins -->
    <div class="page-1-bg">
        <div class="page-1">

        </div>
    </div>
    <!-- Page 1 ends -->




    <!-- Page 2 begins (about livewire) -->
    <div class="about-livewire-page page-2">

    </div>
    <!-- Page 2 ends -->




    <!-- Page 3 begins (past winners) -->
    <div class="page-3 past-winners-page">

    </div>
    <!-- Page 3 ends -->




    <!-- Page 4 begins (prizes)-->
    <div class="page-4 prizes-page">

    </div>
    <!-- Page 4 ends -->




    <!-- Page 5 begins (shedule) -->
    <div class="page-5 shedule-page">

    </div>
    <!-- Page 5 ends -->




    <!-- Page 6 begins (form) -->
    <div class="page-6 register-form">

    </div>
    <!-- Page 6 ends -->




    <!-- Page 7 begins (partners) -->
    <div class="page-7 partners">

    </div>
    <!-- Page 7 ends -->



    
</div>


